@mixin  flex-block($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin transition($val) {
    -moz-transition: $val;
    -o-transition: $val;
    -webkit-transition: $val;
    transition: $val;
}

@mixin transform($val) {
    -moz-transform: $val;
    -ms-transform: $val;
    -o-transform: $val;
    -webkit-transform: $val;
}